* {
    margin: 0;
    padding: 0;
}

/* * Section for nav links */

#navlinks {
    background-color: black;
    height: 70px;
    width: 100%;
}

#navlinks h1 {
    color: white;
    position: absolute;
    padding: 15px 150px 20px;
}

#navlinks ul {
    margin-right: 150px;
    text-align: right;
}

#navlinks li {
    display: inline-block;
    padding: 25px 30px 25px;
}

#navlinks a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#navlinks a:hover {
    border-radius: 50px;
    background-color: white;
    color: black;
    padding: 5px;
}

.active-page {
    border-bottom: 1px solid white;
}

/* * Section for about me */

#about-me {
    height: 500px;
    width: 100%;
    background-color: slategray;
}

#info-about-me {
    width: 300px;
    height: 300px;
    padding: 80px 600px 80px;
}

#container {
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    height: 300px;
}

#jg-photo {
    background-image: url(../img/Jamie.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}