@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* * Font Styles */

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    font-style: italic;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1em;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* * Section for nav links */

#navlinks {
    background-color: black;
    height: 70px;
    width: 100%;
}

#navlinks h1 {
    color: white;
    position: absolute;
    padding: 10px 150px 20px;
}

#navlinks ul {
    margin-right: 50px;
    display: flex;
    justify-content: right;
    align-items: right;
}

#navlinks li {
    display: inline-block;
    padding: 25px 30px 25px;
}

#navlinks a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#navlinks a:hover {
    border-radius: 50px;
    background-color: white;
    color: black;
    padding: 5px;
}

/* * Section for demographics */

#about-me {
    height: 600px;
    width: 100%;
    background-color: whitesmoke;
}

#about-me > div {
    display: inline-block;
}

#info-about-me {
    width: 300px;
    height: 300px;
    padding: 125px 50px 30px 600px;
}

#container {
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    height: 300px;
    padding: 10px;
}

#jg-photo {
    background-image: url(../img/Jamie.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#download-cv {
    color: black;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
    border-width: 1px;
}

/* * Section for further about */

#further-about {
    height: 400px;
    width: 100%;
    padding: 25px 0 25px;
    display: flex;
}

#further-about > div {
    height: 400px;
    width: 50%;
    margin: 0 25px 0;
    padding: 0 25px 0;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    justify-content: space-between;
}

#further-about ul {
    padding-top: 15px;
}

#further-about h2 {
    padding-top: 10px;
}

/* * Footer links */

#footlinks {
    background-color: black;
    height: 80px;
    width: 100%;
}

 #footlinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footlinks li {
    padding: 15px 30px 5px;
}

#footlinks a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

#footlinks p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

/* * Site classes */

.active-page {
    border-bottom: 1px solid white;
}

.uppercase {
    text-transform: uppercase;
}

.decoration > li {
    list-style-type: none;
}

